/**
 * Work view styling
 */

 #work_view {
    display: grid;
    grid-template-rows: 32px 1fr 214px;
    grid-template-columns: max-content 1fr;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
