/**
 * General table styling
 */

 table {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 7px;
}

/*
 * Search bar styling
 */

/* Todo... */