html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

#main_view, #work_view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main_view {
    display: block; /* Switch to none */
}

#work_view {
    display: none; /* Switch to flex */
    flex-direction: row;
}

#side_pane {
    overflow-y: auto;
    display: flex;
    border: 1px solid #ccc;
    flex-basis: fit-content;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
}

#canvas {
    flex-basis: min-content;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
    display: grid;
    font-size: 12px;
    gap: 38px;
    font-family: 'Courier New', Courier, monospace;
    grid-auto-columns: minmax(60ch, max-content);
}

#canvas .graph_node { /* Basic block */
    border: 1px solid #ccc;
    padding: 5px;
    white-space: pre-line;
    line-height: 1.2em;
}

table {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 7px;
}

#recent_files_table {
    display: none; /* Should switch to "table" if there are any recent files later */
}

#functions_table {
    table-layout: fixed;
    word-break: break-all;
}

#functions_table tr:hover, #recent_files_table tbody tr:hover {
    background: #eee;
    cursor: pointer;
}
#functions_table tr.selected {
    background: #ddd;
    cursor: default;
}
#functions_table td {
    width: 100px;
}

#functions_table tr:first-child td {
    border-top: none;
}
#functions_table tr:last-child td {
    border-bottom: none;
}
#functions_table td:first-child {
    border-left: none;
    width: 150px;
}
#functions_table td:last-child {
    border-right: none;
    width: 80px;
}